<% var block = options.block %>
<%- block._editable %>

<article class="video layer_video layer_video--<%- block.align %> layer_video--<%- block.proportions %> layer_video--width_<%- block.width %> <% if(block.play_in_lightbox) { %>video--lightbox<% } else { %>video--iframe<% } %>" <% if(block.play_in_lightbox) { %>data-lightbox-video="<%- block.url %>"<% } %>>
	<div class="video__container <% if(block.cover) { %>video--cover<% } %>">
		<% if(block.cover) { %>		
			<div class="<% if(block.proportions !== 'contain') { %>cover_image<% } %> video__image">
				<img src="<%- plugins.imgix(block.cover, { q: 60, w: 900, fm: 'jpg' }) %>" alt="<%= block.alt %>">
			</div>
		<% } %>
		<% if(!block.play_in_lightbox) { %>
			<%- plugins.videoEmbed(block.url).replace('autoplay', 'n_autoplay') %>
		<% } %>
	</div>
</article>