// ======================================================
// Block Styles
// ============
.block_call_to_action {
	$block: &;
	background: $secondary-color;
	padding-top: 55px;
	padding-bottom: 55px;

	&__wrap {
		
		&--center {
			flex-direction: column;
			text-align: center;

			#{$block}__button {
				margin-top: 20px;
			}
		}

		&--left {
			display: flex;
			align-items: center;
			justify-content: space-between;
    		flex-direction: row-reverse;

    		#{$block}__content {

    			@include breakpoint(medium up) {
					margin-left: 40px;
				}
    		}
		}

		&--right {
			display: flex;
			align-items: center;
			justify-content: space-between;

    		#{$block}__content {

    			@include breakpoint(medium up) {
					margin-right: 40px;
				}
    		}
		}

		@include breakpoint(small down) {
			flex-direction: column;
			text-align: center;
		}
	}

	&__content {

	}

	&__heading {
		
		&:last-child {
			margin: 0;
		}
	}

	&__description {
		margin: 0;
	}
	
	&__button { 
		
		@include breakpoint(small down) {
			margin-top: 20px;
		}
	}
}