<config>
    "url": "/sitemaps-index.xml"
</config><?xml version="1.0" encoding="UTF-8"?>
   <sitemapindex xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
   <sitemap>
      <loc><%= site.config.url %>/sitemap.xml</loc>
   </sitemap>
   </sitemapindex>