<% var block = options.block %>
<%- block._editable %>

<div class="block_alternating_panels">
	<% (block.panels || []).forEach( (item, index) => { %>
		<div class="block_alternating_panels__item">
			<div class="container">
				<div class="block_alternating_panels__wrap">
					<%- plugins.imageVideo(item.image, `
					<div class="{class} unstyled cover_image block_alternating_panels__image" {attr}>
						<img src="{image}" alt="{alt}">
					</div>`) %>
					<div class="block_alternating_panels__content">
						<div class="block_alternating_panels__info">
							<% if(item.heading) { %>
								<h2 class="block_alternating_panels__heading">
									<%- item.heading %>
								</h2>
							<% } %>
							<% if(item.description) { %>
								<p class="block_alternating_panels__description">
									<%- item.description %>
								</p>
							<% } %>
							<% if(item.link && item.link.length) { %>
								<%- plugins.simpleLink(item.link, 'block_alternating_panels__link button') %>
							<% } %>
						</div>
					</div>
				</div>
			</div>
		</div>
	<% }); %>
</div>